* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #001C30;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    /* background-image: url(Assets/download.jpeg);
    background-size: cover;
    background-position: center; */
}

.container {
    padding: 0;
    margin: 0;
    overflow: hidden;
}

.row {
    justify-content: center;
    display: flex;
    gap: 15px;
    margin: 0 20px 0 20px;
}

.box {
    background-color: #F0F0F0;
    width: 100%;
    height: auto;
    border-radius: 10px;
    color: black;
    padding: 15px;
}

.textbox {
    background-color: white;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 5px 5px 0px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
}

.textbox h2 {
    text-align: center;
}

.btnbox button {
    background-color: transparent;
    padding: 4px;
    border: 1;
}

.input {
    padding: 8px;
    background-color: transparent;
    border-radius: 5px;
    width: 300px;
}

.btn {
    padding: 8px;
    background-color: rgba(220, 53, 69);
    color: white;
    border-radius: 5px;
    font-size: 16px;
    border: 1px blue;
    cursor: pointer;
}

.btn:hover {
    background-color: #001C30;
}

.div-text .search {
    gap: 8px;
    margin: 0;
    display: flex;
    align-items: center;
}

.div-text {
    background-color: #F0F0F0;
    margin: 0 0 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 12px 20px 12px 20px;
}

.div-text h1 {
    color: #001C30;
    font-size: 25px;
    font-weight: 600;
}

@media screen and (max-width:768px) {
    .row {
        display: block;
    }
    .box {
        margin-bottom: 15px;
        width: auto;
    }
    .div-text {
        display: block;
    }
    .div-text .search {
        padding: 10px 0 0 0;
    }
    .input {
        width: 100%;
    }
}